<div class="card mb-4 shadow-sm">
    <div class="card-header bg-secondary text-white">
      <h4 class="my-0 fw-normal">Connection Status</h4>
    </div>
    <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Event</th>
          <th scope="col" class="text-center">Status</th>
          <th scope="col" class="text-end pe-2">Test</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-primary">
            <th scope="row" colspan=3 class="text-center">Channel</td>
        </tr>
        <tr>
          <th scope="row">Updates</th>
          <td class="text-center" id="STATUS_CHANNEL_UPDATE">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </td>
          <td class="text-end">
            <a href='#' class="text-decoration-none pe-2" data-bs-toggle="modal" data-bs-target="#testUpdateModal">
                <i class="bi bi-pencil-square"></i>
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">Follows</th>
          <td class="text-center" id="STATUS_CHANNEL_FOLLOW">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </td>
          <td class="text-end">
            <a href='#' class="text-decoration-none pe-2" data-bs-toggle="modal" data-bs-target="#testFollowModal">
                <i class="bi bi-pencil-square"></i>
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">Point Redemptions</th>
          <td class="text-center" id="STATUS_CHANNEL_POINT_REDEMPTION">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </td>
          <td class="text-end">
            <a href='#' class="text-decoration-none pe-2" data-bs-toggle="modal" data-bs-target="#testPointsRedemptionModal">
                <i class="bi bi-pencil-square"></i>
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">Cheers</th>
          <td class="text-center" id="STATUS_CHANNEL_CHEER">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </td>
          <td class="text-end">
            <a href='#' class="text-decoration-none pe-2" data-bs-toggle="modal" data-bs-target="#testCheersModal">
              <i class="bi bi-pencil-square"></i>
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">Raids</th>
          <td class="text-center" id="STATUS_CHANNEL_RAID">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </td>
          <td class="text-end">
            <a href='#' class="text-decoration-none pe-2" data-bs-toggle="modal" data-bs-target="#testRaidModal">
                <i class="bi bi-pencil-square"></i>
            </a>
          </td>
        </tr>
        <tr>
            <th scope="row">Hype Train Begin</th>
            <td class="text-center" id="STATUS_CHANNEL_HYPE_TRAIN_BEGIN">
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </td>
            <td class="text-end">
                <!-- <a href='#' class="text-decoration-none pe-2" data-bs-toggle="modal" data-bs-target="#testHTBModal">
                    <i class="bi bi-pencil-square"></i>
                </a> -->
            </td>
        </tr>
        <tr>
            <th scope="row">Hype Train Progress</th>
            <td class="text-center" id="STATUS_CHANNEL_HYPE_TRAIN_PROGRESS">
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </td>
            <td class="text-end">
                <!-- <a href='#' class="text-decoration-none pe-2" data-bs-toggle="modal" data-bs-target="#testHTBModal">
                    <i class="bi bi-pencil-square"></i>
                </a> -->
            </td>
        </tr>
        <tr>
            <th scope="row">Hype Train End</th>
            <td class="text-center" id="STATUS_CHANNEL_HYPE_TRAIN_END">
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </td>
            <td class="text-end">
                <!-- <a href='#' class="text-decoration-none pe-2" data-bs-toggle="modal" data-bs-target="#testHTBModal">
                    <i class="bi bi-pencil-square"></i>
                </a> -->
            </td>
        </tr>
        <tr>
          <th scope="row">Subscriptions</th>
          <td class="text-center" id="STATUS_WEBSOCKET">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>