<div class="card mb-4 shadow-sm">
    <div class="card-header bg-secondary text-white">
      <h4 class="my-0 fw-normal">Connection Status</h4>
    </div>
    <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Event</th>
          <th scope="col" class="text-center">Status</th>
          <th scope="col" class="text-end pe-2">Test</th>
        </tr>
      </thead>
      <tbody id="events-body">
        
      </tbody>
    </table>
  </div>
</div>
