<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<section class="py-3 text-center container">
  <div class="row py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto">
      {%if config.CHANNEL != '' %}
        <h1 class="fw-light">{{ config.CHANNEL }}</h1>
      {% else %}
        <form action="/set-channel/" method="post">
          {% csrf_token %}
          <label for="channel_name">Channel Name:</label>
          <input id="channel_name" type="text" name="channel_name">
          <input type="submit" value="submit">
        </form>
      {% endif %}
    </div>
  </div>
</section>
{%if config.CHANNEL != '' %}
<script>
  const broadcaster_user_name = '{{ config.CHANNEL }}';
  const broadcaster_user_id = '{{ config.CHANNEL_ID }}';
</script>
{% endif %}
<section class="container">
  <div class="row mb-2">
    <div class="col-md-6">
      {% include 'connection-status.html' %}
    </div>
    <div class="col-md-6">
      {% include 'websocket-stream.html' %}
    </div>
  </div>
</section>
{% include 'modal-forms/update-modal.html' %}
{% include 'modal-forms/cheers-modal.html' %}
{% include 'modal-forms/follow-modal.html' %}
{% include 'modal-forms/points-redemption-modal.html' %}
{% include 'modal-forms/raid-modal.html' %}
{% include 'modal-forms/subs-modal.html' %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}

{% endblock %}

{% block js %}
<script>
window.onload = (event) => {
    setupJsonWebsocket(`${socketProtocol}//${host}${port}/ws/tau-status/`, handleStatusMessage)
    twitchEventsWebsocket();
    loadEventSubSubscriptions();
    const prModal = document.getElementById('testPointsRedemptionModal');
    prModal.addEventListener('shown.bs.modal', function () {
        ajaxGet(`${protocol}//${host}${port}/api/twitch/helix/channel_points/custom_rewards?broadcaster_id={{ config.CHANNEL_ID }}`).subscribe(resp => {
            const data = resp.data;
            rewards = data;
            buildRedemptionSelect(false);
        });
    });
    // Populate Websocket Stream with last 10 events
    ajaxGet(`${protocol}//${host}${port}/api/v1/twitch-events`).subscribe(resp => {
      const events = resp.results;
      events.reverse().forEach(event => {
        handleEventMessage(event);
      })
    })
}
</script>
{% endblock %}
