<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<section class="py-3 text-center container">
  <div class="row py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto">
      {%if config.CHANNEL != '' %}
        <h1 class="fw-light">{{ config.CHANNEL }}</h1>
      {% else %}
        <form action="/set-channel/" method="post">
          {% csrf_token %}
          <label for="channel_name">Channel Name:</label>
          <input id="channel_name" type="text" name="channel_name">
          <input type="submit" value="submit">
        </form>
      {% endif %}
    </div>
  </div>
</section>
{%if config.CHANNEL != '' %}
<script>
  const broadcaster_user_name = '{{ config.CHANNEL }}';
  const broadcaster_user_id = '{{ config.CHANNEL_ID }}';
</script>
{% endif %}
<section class="container">
  <div class="row mb-2">
    <div class="col-md-6">
      {% include 'connection-status.html' %}
    </div>
    <div class="col-md-6">
      {% include 'websocket-stream.html' %}
    </div>
  </div>
</section>
{% include 'modal-forms/auth-token.html' %}
{% include 'modal-forms/update-modal.html' %}
{% include 'modal-forms/cheers-modal.html' %}
{% include 'modal-forms/follow-modal.html' %}
{% include 'modal-forms/points-redemption-modal.html' %}
{% include 'modal-forms/raid-modal.html' %}
{% include 'modal-forms/subs-modal.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.6.2/rxjs.umd.min.js"
  integrity="sha512-kN8bAZFoIra6Z7dDPNMD3efoGLn7QpOZgBcNpLwKIoBM5rXLVxt9nPHNo+4WrIsT0RBc/h2sXtN08n1ALxn4yw=="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"
  integrity="sha512-YBk7HhgDZvBxmtOfUdvX0z8IH2d10Hp3aEygaMNhtF8fSOvBZ16D/1bXZTJV6ndk/L/DlXxYStP8jrF77v2MIg=="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-json.min.js"
  integrity="sha512-IC7rV8RslChgByOdUFC6ePqOGn+OwJhnKC3S5AezM8DAiOdGhJMwgsIvBChsa2yuxxoPbH2+W/kjNUM1cc+jUQ=="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/plugins/autoloader/prism-autoloader.min.js"
  integrity="sha512-zc7WDnCM3aom2EziyDIRAtQg1mVXLdILE09Bo+aE1xk0AM2c2cVLfSW9NrxE5tKTX44WBY0Z2HClZ05ur9vB6A=="
  crossorigin="anonymous"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/update.js' %}"></script>
<script src="{% static 'js/cheers.js' %}"></script>
<script src="{% static 'js/follow.js' %}"></script>
<script src="{% static 'js/points-redemption.js' %}"></script>
<script src="{% static 'js/raid.js' %}"></script>
<script src="{% static 'js/subscribe.js' %}"></script>
<script src="{% static 'js/stream-online.js' %}"></script>
<script src="{% static 'js/stream-offline.js' %}"></script>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}

{% endblock %}
