<div class="modal fade" id="tokenModal" tabindex="-1" aria-labelledby="tokenModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="tokenModalLabel">WS Auth Token</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                <div class="col-12">
                  <label for="token" class="form-label">Auth Token</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="token" placeholder="Retrieving Token..." required readonly>
                  <div class="invalid-feedback"></div>
                  </div>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>