<div class="modal fade" id="testCheersModal" tabindex="-1" aria-labelledby="cheersModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="cheersModalLabel">Test Cheer Event</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="channel-cheer-test">
                <div class="col-12 text-center">
                  * Required fields
                </div>
                <div class="col-12">
                  <label for="cheer-username" class="form-label">*Username</label>
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="cheer-username"
                      placeholder="Username"
                      required
                      onblur="getUserId('cheer-username', 'cheer-user-id')"
                      >
                  </div>
                </div>
                <div class="col-12">
                  <label for="cheer-user-id" class="form-label">User ID</label>
                  <div class="input-group mb-3">
                    <input type="password" class="form-control" id="cheer-user-id" placeholder="User ID" required readonly>
                    <button class="btn btn-secondary" type="button" onclick="toggleVisibility(this)"><i class="bi bi-eye"></i></button>
                  </div>
                </div>
                <div class="col-12">
                  <label for="bits" class="form-label">*Bits</label>
                  <div class="input-group">
                    <input type="number" class="form-control" id="bits" placeholder="Bits" required>
                  <div class="invalid-feedback">
                      Bits is required.
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <label for="cheer-message" class="form-label">Message</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="cheer-message" placeholder="Message..." required>
                  </div>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="is_anonymous">
                  <label class="form-check-label" for="is_anonymous">Anonymous</label>
                </div>
              </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="channelCheerTest()">Test</button>
        </div>
        </div>
    </div>
</div>
