<div class="modal fade" id="testPointsRedemptionModal" tabindex="-1" aria-labelledby="pointRedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="pointRedModalLabel">Test Points Redemptions Event</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="channel-points-redemption-test">
                <div class="col-12 text-center">
                  * Required fields
                </div>
                <div class="col-12">
                  <label for="username" class="form-label">*Username</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="username" placeholder="Username" required>
                  </div>
                </div>
                <div class="form-check">
                  <input 
                    type="checkbox"
                    class="form-check-input"
                    id="show-disabled"
                    onchange="buildRedemptionSelect()"
                  >
                  <label class="form-check-label" for="show-disabled">Show Disabled Rewards</label>
                </div>
                <div class="col-12">
                  <label for="reward" class="form-label">Reward</label>
                  <div class="input-group mb-3">
                    <select class="form-select" id="reward" required>
                        <option value="">Choose...</option>
                        <option value="575c2991-cbc2-402c-837f-86bd40009379">Test</option>
                      </select>
                  </div>
                </div>
                <div class="col-12">
                    <label for="user_input" class="form-label">User Input</label>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" id="user_input" placeholder="User Input" required>
                    </div>
                </div>
              </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="channelPointsRedemptionTest()">Test</button>
        </div>
        </div>
    </div>
</div>
