<div class="modal fade" id="testRaidModal" tabindex="-1" aria-labelledby="raidModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="raidModalLabel">Test Raid Event</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="channel-raid-test">
                <div class="col-12 text-center">
                  * Required fields
                </div>
                <div class="col-12">
                  <label for="raid-from_broadcaster_user_name" class="form-label">*Raider</label>
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="raid-from_broadcaster_user_name"
                      placeholder="Raider"
                      required
                      onblur="getUserId('raid-from_broadcaster_user_name', 'raid-from_broadcaster_user_id')"
                    >
                  </div>
                </div>
                <div class="col-12">
                  <label for="raid-from_broadcaster_user_id" class="form-label">Raider ID</label>
                  <div class="input-group mb-3">
                    <input type="password" class="form-control" id="raid-from_broadcaster_user_id" placeholder="Raider ID" required readonly>
                    <button class="btn btn-secondary" type="button" onclick="toggleVisibility(this)"><i class="bi bi-eye"></i></button>
                  </div>
                </div>
                <div class="col-12">
                  <label for="viewers" class="form-label">*Viewers</label>
                  <div class="input-group mb-3">
                    <input type="number" class="form-control" id="viewers" placeholder="Viewers" required>
                  </div>
                </div>
              </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="channelRaidTest()">Test</button>
        </div>
        </div>
    </div>
</div>
