<div class="modal fade" id="testSubModal" tabindex="-1" aria-labelledby="subModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="subModalLabel">Test Sub Event</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="channel-sub-test">
                <div class="col-12 text-center">
                  * Required fields
                </div>
                <div class="col-12">
                  <label for="sub-username" class="form-label">*Username</label>
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="sub-username"
                      placeholder="Username"
                      required
                      onblur="getUserId('sub-username', 'sub-user-id')">
                  </div>
                </div>
                <div class="col-12">
                  <label for="sub-user-id" class="form-label">User ID</label>
                  <div class="input-group mb-3">
                    <input type="password" class="form-control" id="sub-user-id" placeholder="User ID" required readonly>
                    <button class="btn btn-secondary" type="button" onclick="toggleVisibility(this)"><i class="bi bi-eye"></i></button>
                  </div>
                </div>
                <div class="col-12">
                  <label for="tier" class="form-label">*Tier</label>
                  <div class="input-group mb-3">
                    <select class="form-control" id="tier" required>
                      <option value="1000">Tier 1</option>
                      <option value="2000">Tier 2</option>
                      <option value="3000">Tier 3</option>
                      <option value="prime">Prime</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <label for="sub-message" class="form-label">*Message</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="sub-message" placeholder="Message..." required>
                  </div>
                </div>
                <div class="col-12">
                  <label for="cumulative_months" class="form-label">*Cumulative Months</label>
                  <div class="input-group mb-3">
                    <input type="number" class="form-control" id="cumulative_months" placeholder="Cumulative Months" required>
                  </div>
                </div>
                <div class="col-12">
                  <label for="streak_months" class="form-label">*Streak Months</label>
                  <div class="input-group mb-3">
                    <input type="number" class="form-control" id="streak_months" placeholder="Streak Months" required>
                  </div>
                </div>
              </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="channelSubscribeTest()">Test</button>
        </div>
        </div>
    </div>
</div>
