<div class="modal fade" id="testUpdateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="updateModalLabel">Test Channel Update Event</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="channel-update-test">
                <div class="col-12 text-center">
                  * Required fields
                </div>
                <div class="col-12">
                  <label for="title" class="form-label">*Title</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="title" placeholder="Stream Title..." required>
                  <div class="invalid-feedback">
                      Stream Title is required.
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <label for="category_name" class="form-label">*Category</label>
                  <div class="input-group">
                    <input value="Science & Technology" type="text" class="form-control" id="category_name" placeholder="Category Name..." required>
                  <div class="invalid-feedback">
                      Category Name is required.
                    </div>
                  </div>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="is_mature">
                  <label class="form-check-label" for="is_mature">mature</label>
                </div>
              </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="channelUpdateTest()">Test</button>
        </div>
        </div>
    </div>
</div>