<div class="card mb-4 shadow-sm">
    <div class="card-header bg-secondary text-white">
      <h4 class="my-0 fw-normal">Streamer Status</h4>
    </div>
    <div class="card-body">
        <a href="#" data-bs-toggle="modal" data-bs-target="#addStreamerModal" class="btn btn-primary float-end">Add Streamer</a>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">Streamer</th>
                <th scope="col" class="text-end pe-2">Active</th>
                </tr>
            </thead>
            <tbody id="streamer-list-body"></tbody>
        </table>
    </div>
</div>
